{% extends "audit/base_template.html" %}

{% block content %}
    <button onclick="location.href='/new/'" type="button">
         New Audit
    </button>
    <table id="audit_list">
        <tr>
            <th>
                #
            </th>
            <th>
                Election Type
            </th>
            <th>
                Audit Type
            </th>
            <th>
                Date
            </th>
            <th>
                In Progress
            </th>
            <th>
                Validated
            </th>
            <th>
                View
            </th>
        </tr>
        {% for audit in audits %}
            <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                {{ audit.election_type }}
            </td>
            <td>
                {{ audit.audit_type }}
            </td>
            <td>
                {{ audit.date }}
            </td>
            <td>
                {{ audit.in_progress }}
            </td>
            <td>
                {{ audit.validated }}
            </td>
            <td>
                <a href="/audit/view/{{ audit.pk }}/">Link</a>
            </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}