{% extends 'audit/base_template.html' %}

{% block content %}
    <table id="vote_count">
        <tr>
            <th>Candidate</th>
            <th>Reported Ballot Count</th>
            <th>Recount</th>
        </tr>
        {% for candidate, count in votes.items %}
            <tr>
                <td>{{ candidate }}</td>
                <td>{{ count.preliminary }}</td>
                <td>{{ count.recount }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>Total</th>
            <th>{{ total_count }}</th>
            <th>{{ total_recount }}</th>
        </tr>
    </table>
    <p>Max P-Value: {{ max_p_value }}</p>
    {% if not is_validated %}
        <p>Not Validated Yet</p>
        <form action="{{ recount_url }}">
            <input type="submit" value="Return to Recount" />
        </form>
    {% else %}
        <p>Election Validated!</p>
    {% endif %}
{% endblock %}