{% extends 'audit/base_template.html' %}

{% block content %}
    <table id="preliminary">
        <tr>
            <th>Party</th>
            <th>Reported Ballot Count</th>
        </tr>
        {% for party, count in vote_count.items %}
            <tr>
                <td>{{ party }}</td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
    </table>
    <form action="/dhondt/recount/{{ audit_pk }}">
        <input type="submit" value="Go to Recount" />
    </form>
{% endblock %}